# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.melos_tool/

# IDEs
.idea/
.vscode/
*.iml

# android/
ios/*
macos/*
linux/*
windows/*
# web/*

# Android
# android/.gradle/
# android/captures/
# android/.idea/
# android/local.properties
# android/**/gradle-wrapper.properties

# # iOS
# ios/Flutter/Flutter.framework
# ios/Flutter/Flutter.podspec
# ios/.symlinks/
# ios/Pods/
# ios/.dart_tool/
# ios/Flutter/Generated.xcconfig
# ios/Runner.xcworkspace/
# ios/Runner.xcodeproj/project.xcworkspace/
# ios/Runner.xcodeproj/xcuserdata/

# # macOS
# macos/Flutter/GeneratedPluginRegistrant.swift
# macos/Pods/
# macos/.symlinks/
# macos/.dart_tool/
# macos/Flutter/ephemeral/
# macos/Flutter/GeneratedPluginRegistrant.swift

# # Linux
# linux/flutter/ephemeral/
# linux/CMakeFiles/
# linux/cmake-build-*/

# # Windows
# windows/flutter/ephemeral/
# windows/Runner.sln
# windows/Runner.vcxproj.user
# windows/CMakeFiles/
# windows/cmake-build-*/

# # Web
# web/.dart_tool/
# web/.idea/

# Other files
*.log
*.tmp
*.lock
*.swp
*.DS_Store
*.bak
*.orig

# Symbolic links (optional)
symlinks/

# Firebase/Secrets (adicionar manualmente se usar)
# .env
# google-services.json
# GoogleService-Info.plist

# Coverage
coverage/
